.App {
    text-align: center;
  }

  h3, h4 {
    text-transform: uppercase;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  h4 {
    font-size: 13px;
    text-transform: unset;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      .logout {
          position: absolute;
          top: 10%;
          right: 5%;           
          background-color: #4C69BA;  
          color: #fff;
          max-width: 100px;
          padding: 5px 10px;
          text-transform: uppercase;
          font-size: 14px;
          transition: 0.8s;
          z-index: 2;
          &:hover {
            background-color: red;
            cursor: pointer;
            transform: rotateX(360deg);
          }
      }
    .user-info {
        display: none;
        width: 400px;
        margin: auto;
        background: #f4f4f4;
        padding: 20px;
        img {
          margin-top: 15px;
            border-radius: 50%;
            transition: 0.3s;
            &:hover {
              cursor: pointer;
              transform: scale(1.1);
            }
          }
        &:first-child {
          display: block;
        }
      }
  }

  button {
    &:hover, &:focus {
      cursor: pointer;
      background-color: red;
      border-color: red;
      outline: none;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  